@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pizzeria</h1>
    <h2>Pizzeria, is the pizza for you & me!</h2>
    <img class="mainImage" src="~/images/PizzaTime.jpg"/>
    <br/>
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/Checkout">Bring me that pizza</a>
</div>
